<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ 50StatesWirelessUSA.Shop online special offers on smartphones }}</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="https://www.paypal.com/sdk/js?client-id=ASN7PKGXRcDaxWEUQ9beftaFfpVjBSSwjrD441s3SX9O4FraiGhzd5Z0kO-dFpovPJre9YSnzuZpHhd4&currency=USD"></script>
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

